<div class="container">
  <div class="row">

  {{#each this}}
  {{#if this.id}}
    <div class="col-lg-4 artist-container">

      {{#if this.images.length }}
        <img src="{{this.images.0.url}}" alt="Artist-picture" class="artist-img">
      {{else}}
        <img src="http://www.designshock.com/wp-content/uploads/2016/04/man-4-400.jpg" alt="No picture" class="artist-img">
      {{/if}}

      <div class="artist-info-container">
          {{#if this.name}}
            <p>{{this.name}}</p>
          {{else}}
            <p>Unknown</p>
          {{/if}}
        <a href="/tracks/{{this.id}}">Songs</a>
      </div>
    </div>
  {{/if}}
  {{/each}}

  </div>
</div>